.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 500px;
    height: 500px;
    text-align: center;
    font-family: arial;
    object-fit: contain;
    background-size: contain;
  }

  .mat-grid-tile-content
{
    flex-direction: column;
} 

img {
  max-width: 200px;
  max-height: 250px;
}
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 50%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  .mat-flat-button{
    height:fit-content;
    width: fit-content;
    background-color: black;
    color: white;
}