<h2>What are you looking for today?</h2>
<mat-grid-list cols="2" rowHeight="400px">  
    <nav>
        <a routerLink="/clothing">
            <mat-grid-tile>
            
                <img src="assets/images/shirtshome.jpeg">
                <mat-grid-tile-footer><a routerLink="/shoes"><h3>Clothing</h3></a></mat-grid-tile-footer> 
            </mat-grid-tile>
        </a>
        
        <a routerLink="/shoes">
            <mat-grid-tile>
            
                <img src="assets/images/shoeshome.png"/>
                <mat-grid-tile-footer><a routerLink="/shoes"><h3>Shoes</h3></a></mat-grid-tile-footer>  
            </mat-grid-tile>
        </a>
        
      </nav>
    <router-outlet></router-outlet>
</mat-grid-list>

