<h2>Clothing</h2>
<div class="select">
  <h3>Sort Items By:
    <select (change)="selectItem($event)">
      <option value="Sort By">Sort By</option>
      <option value="A-Z">A-Z</option>
      <option value="LH">Price: Low to High</option>
      <option value="HL">Price: High to Low</option>
    </select>
  </h3>
</div>

<ul class="clothings">
  <mat-grid-list cols="3" rowHeight="2:2">  
    <mat-grid-tile *ngFor="let cloth of clothings">
        <div class="card">
            <img [src]=cloth.imgsrc>
            <p>{{cloth.name}}</p>
            <p class="price">${{cloth.price}}</p>
            <p>Size: <select (change)="selectSize($event)">
              <option value="XS">XS</option>
              <option value="S">S</option>
              <option value="M">M</option>
              <option value="L">L</option>
              <option value="XL">XL</option>
            </select></p>
            <p>{{cloth.desc}}</p>
            <p><button mat-flat-button (click)="addItemToCart(cloth)"><mat-icon>add</mat-icon>Add to Cart</button></p>
        </div>
    </mat-grid-tile>
    
  </mat-grid-list>
</ul>
<body>Showing 5 out of 5 items</body>